.success {
    color: green;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
  color: red;
  background: #fce4e4;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}